/ h3 Logga in  
/ form action="/saver" method="post"  
/     input type="text" name="name" placeholder="Enter name"
/     input type="password" name="pwd" placeholder="Enter password"
/     input type="submit" value="save"